<div class="container center" id="log-in">
<h1>Log In</h1>
<p>New to this site? Go to the <a href="/auth/signup">sign up page</a> instead!</p>
    <form method="POST" action="/auth/login">
      <div class="input-field">
        <input id="email" name="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <br>
      <div class="input-field">
        <input placeholder="Your secret password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
      </div>
      <br>
      <input type="submit" value="Login" class="btn btn-large">
    </form>
  </div>
</div>