<!-- <div class="container center" id="sign-up">
  <h4>Signup Form</h4>
  <p>Already have an account? Go to the <a href="/auth/login">log in page</a>!</p>
  <br>
  <form class="col s12" method="POST" action="/auth/signup">
  <div class="row">
    <div class="input-field col s6 m6">
      <input id="username" name="username" type="text" class="validate">
      <label for="username">Username:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3 m3">
      <input id="age" name="age" type="text" class="validate">
      <label for="age">Age:</label>
    </div>
    <div class="input-field col s3 m3">
      <input id="gender" name="gender" type="text" class="validate">
      <label for="gender">Gender:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="education" name="education" type="text" class="validate">
      <label for="education">Education Level:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="political" name="political" type="text" class="validate">
      <label for="political">Political Affilition:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <input id="password" name="password" type="password" class="validate">
      <label for="password">Password:</label>
    </div>
  </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div> -->

  <div id="nav-wrapper">
    <div id="nav-left" class="nav-sides">
      <img src="../images/half-owl.png">
    </div>
    <div id="nav-center">
      <h3>Hoo&rsquo;s News?</h3>
    </div>
<!--    <div id="nav-right" class="nav-sides">
      <img src="images/user_orange.png">
    </div> -->
  </div>
  <div id="grid-wrapper">
    <div class="body-wrapper">
    <div class="dark-form">
      <h2 class="mustard">Signup</h2>
      <form action="#">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="user name" placeholder="your user name"><br>

        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password" placeholder="your password"><br>

        <label for="education">Education Level (select): </label><br>
        <select id="education" name="education">
          <option value="some high school">some high school</option>
          <option value="high school/GED">high school/GED</option>
          <option value="some college">some college</option>
          <option value="associate's degree">associate's degree</option>
          <option value="four-year degree">four-year degree</option>
          <option value="advanced degree">advanced degree</option>
        </select><br>

        <label for="political">Political Affiliation (select): </label><br>
        <select id="political" name="political">
          <option value="Democrat">Democrat</option>
          <option value="Republican">Republican</option>
          <option value="Libertarian">Libertarian</option>
          <option value="Other">Other</option>
        </select><br>

        <label for="mood">Your current mood:</label><br>
        <select id="mood" name="mood">
          <option value="happy">happy</option>
          <option value="kinda happy">kinda happy</option>
          <option value="okay">okay</option>
          <option value="annoyed">annoyed</option>
          <option value="mad">mad</option>
        </select><br><br>

        <input type="submit" value="Submit" class="wide-button"><br><br>
      </form>
    </div>=
  </div>