<div class="container center" id="sign-up">
  <h4>Signup Form</h4>
  <p>Already have an account? Go to the <a href="/auth/login">log in page</a>!</p>
  <br>
  <form class="col s12" method="POST" action="/auth/signup">
  <div class="row">
    <div class="input-field col s6 m6">
      <input id="username" name="username" type="text" class="validate">
      <label for="username">Username:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3 m3">
      <input id="age" name="age" type="text" class="validate">
      <label for="age">Age:</label>
    </div>
    <div class="input-field col s3 m3">
      <input id="gender" name="gender" type="text" class="validate">
      <label for="gender">Gender:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="education" name="education" type="text" class="validate">
      <label for="education">Education Level:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="political" name="political" type="text" class="validate">
      <label for="political">Political Affilition:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <input id="password" name="password" type="password" class="validate">
      <label for="password">Password:</label>
    </div>
  </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>