	<div id="nav-wrapper">
		<div id="nav-left" class="nav-sides">
			<img src="images/half-owl.png">
		</div>
		<div id="nav-center">
			<h3>Hoo&rsquo;s News?</h3>
		</div>
		<div id="nav-right" class="nav-sides">
			<img src="../../images/user_orange.png">
		</div>
	</div>
	<div id="grid-wrapper">
		<div class="body-wrapper">
			<div class="fade-gray" id="letsplay">
				<h1>Let&rsquo;s play!</h1>
			</div>
			<button class="wide-button">login</button><br>
			<button class="wide-button">sign up</button><br>
			<p>If what you're doing doesn't make you happy - you're doing the wrong thing. I'll go over the colors one more time that we use: Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red. That easy. It takes dark in order to show light. This painting comes right out of your heart.

If you hypnotize it, it will go away. See there how easy that is. Son of a gun.

That's what painting is all about. It should make you feel good when you paint. The light is your friend. Preserve it. Be brave. Mix your color marbly don't mix it dead.

We don't really know where this goes - and I'm not sure we really care. That's a crooked tree. We'll send him to Washington. And that's when it becomes fun - you don't have to spend your time thinking about what's happening - you just let it happen. Let all these little things happen. Don't fight them. Learn to use them.

If you've been in Alaska less than a year you're a Cheechako. What the devil. We need a shadow side and a highlight side.

</p>
		</div>
	</div>