<!DOCTYPE html>
<html>
<head>
	<title>Hoo&rsquo;s News?</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900&display=swap" rel="stylesheet">

</head>
<body>
	<div id="master-container">
		<%- body %>
	</div>	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			console.log("loaded");

		});
	</script>
</body>
</html>