<div id="nav-wrapper">
	<div id="nav-left" class="nav-sides">
		<img src="images/half-owl.png">
	</div>
	<div id="nav-center">
		<h3>Hoo&rsquo;s News?</h3>
	</div>
	<div id="nav-right" class="nav-sides">
		<img src="images/user_orange.png">
	</div>
</div>

<div id="grid-wrapper">
	<div class="body-wrapper">
		<div class="headline-box">
			<h3>Congratulations!</h3>
			<h3>Your final score is:</h3>
			<h1 style="text-align: center; color: black;">{correct: 3}</h1>
		</div><br>
		<img src="images/chart.png" style="margin: 20px 0; height: 30vh;"><br>
		<form action="#">
		    <input type="submit" class="wide-button" value="FINISH" />
		</form><br>
		<form action="#">
		    <input type="submit" class="wide-button" value="RETAKE QUIZ" />
		</form>	
		<br><br><br><br><br>
	</div>

</div>
